*{
 margin:0px;
 padding:0px;
}
input[type="text"]{
width:205;s
}
.contup {
	background-color:#FFFFFF;
	height: 80px;
	width: 90%;
	margin-left: 10%;
	margin-top:20px;
}
.contdown {
	background-color:#FFFFFF;
	height: 570px;
	width: 70%;
	margin-left: 30%;
	margin-top:30px;
}


#mainbody {
	background-color:#FFFFFF;
	height: 1000px;
	width: 100%;
}
#wrapper {
	background-color:#FFFFFF;
	height: 1000px;
	width: 90%;
	margin-left:5%;
	margin-right:5%;
}
#header {
	background-color:#FFFFFF;
	height: 200px;
	width: 100%;
}
#content{
	background-color:#FFFFFF;
	height: 700px;
	width: 100%;
}
#footer {
	background-color:#FFFFFF;
	height: 100px;
	width: 100%;
}
.content{
	background-color:#FFFFFF;
	height: 700px;
	width: 60%;
	float:left;
}
.right{
	background-color:#FFFFFF;
	height: 700px;
	width: 40%;
	float:left;
}
.headtext{
	background-color:#FFFFFF;
	height: 160px;
	width: 55%;
	float:left;
	margin-left:5%;
	margin-top:40px;
}
.headlink{
	background-color:#FFFFFF;
	height: 160px;
	width: 40%;
	float:right;
	margin-top:40px;
}
