*{
   margin:0px;
   padding::0px;
}
#mainBody {
	background-color: #FFFFFF;
	background-image: url(../../../Downloads/Web%20Work/Responsive%20Images/apple-3433812_640.jpg);
	height: 1000px;
	width: 100%;
}
#wrapper {
	background-color: #E1E1E1;
	height: 1000px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
}
#header {
	background-color: #00FF66;
	height: 200px;
	width: 100%;
}
#content {
	background-color: #FFFFFF;
	height: 700px;
	width: 100%;
}
#footer {
	background-color: #FFFF99;
	height: 100px;
	width: 100%;
}
.content {
	background-color: #993300;
	height: 700px;
	width: 60%;
	float: left;
}
.right {
	background-color: #FFFFFF;
	height: 700px;
	width: 40%;
	float: left;
}
